<div class = "container">
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Tables
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#bars">Bars</a>
      <a class="dropdown-item" href="#beers">Beers</a>
      <a class="dropdown-item" href="#bills">Bills</a>
      <a class="dropdown-item" href="#drinkers">Drinkers</a>
      <a class="dropdown-item" href="#frequents">Frequents</a>
      <a class="dropdown-item" href="#has">Has</a>
      <a class="dropdown-item" href="#hasItems">HasItems</a>
      <a class="dropdown-item" href="#items">Items</a>
      <a class="dropdown-item" href="#likes">Likes</a>
      <a class="dropdown-item" href="#sells">Sells</a>
      <a class="dropdown-item" href="#sellItems">SellsItems</a>
      <a class="dropdown-item" href="#transactions">Transactions</a>
    </div>
  </div>
</div>