<div class='container'>
<h3>Bars where this beer is sold the most</h3>
</div>

<p-table [value]="BarSellsMost">
 <ng-template pTemplate="header">
 <tr>
 <th>Bar</th>
 <th>Quantity</th>
 </tr>
 </ng-template>
 <ng-template pTemplate="body" let-BarSellsMost>
 <tr>
 <td>
 <a routerLink="/bars/graphs/{{ BarSellsMost.bar }}">
 {{ BarSellsMost.bar }}
 </a>
 </td>
 <td>{{ BarSellsMost.quantity }}</td>
 </tr>
 </ng-template>
</p-table>

<div class='container'>
<h3>Drinkers who drink this beer the most</h3>
</div>

<p-table [value]="drinker">
 <ng-template pTemplate="header">
 <tr>
 <th>Drinker</th>
 <th>How Many Times</th>
 </tr>
 </ng-template>
 <ng-template pTemplate="body" let-drinker>
 <tr>
 <td>
 <a routerLink="/drinker/info/{{ drinker.drinker }}">
 {{ drinker.drinker }}
 </a>
 </td>
 <td>{{ drinker.How_many_times }}</td>
 </tr>
 </ng-template>
</p-table>

<div class='container'>
<h3>Time Distribution by month</h3>
</div>

<p-table [value]="TimeBeer">
 <ng-template pTemplate="header">
 <tr>
 <th>Month</th>
 <th>Quantity</th>
 </tr>
 </ng-template>
 <ng-template pTemplate="body" let-TimeBeer>
 <tr>
 <td>{{ TimeBeer.month }}</td>
 <td>{{ TimeBeer.quantity }}</td>
 </tr>
 </ng-template>
</p-table>