asn1crypto==0.24.0
backports-abc==0.5
backports.functools-lru-cache==1.5
cffi==1.11.5
Click==7.0
cryptography==2.4.1
cycler==0.10.0
enum34==1.1.6
Flask==1.0.2
idna==2.7
ipaddress==1.0.22
itsdangerous==1.1.0
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.1.0
matplotlib==2.2.3
nltk==3.2.5
numpy==1.15.4
pandas==0.23.4
pycparser==2.19
PyMySQL==0.9.2
pyparsing==2.2.1
python-dateutil==2.7.3
pytz==2018.5
scikit-learn==0.19.1
scipy==1.1.0
simplejson==3.16.0
singledispatch==3.4.0.3
six==1.11.0
SQLAlchemy==1.2.14
tornado==5.1.1
waitress==1.1.0
Werkzeug==0.14.1
