<div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Beers Page</h1>
            <p class="lead">Click on a beer name to see more information</p>
        </div>
</div>

<p-table [value]="beer">
 <ng-template pTemplate="header">
 <tr>
 <th>Name</th>
 <th>Manf</th>
 </tr>
 </ng-template>
 <ng-template pTemplate="body" let-beer>
 <tr>
 <td>
 <a routerLink="/beer/{{ beer.name }}">
 {{ beer.name }}
 </a>
 </td>
 <td>{{ beer.manf }}</td>
 </tr>
 </ng-template>
</p-table>
